body{
    --cor-primaria: #357799;
    --cor-primaria-escura: #8dbeda;
    --cor-secundaria:#4f4f51;
    --cor-secundaria-escura:#2c2b30;
    --cor-secundaria-clara: #d6d6d6;
    --cor-error: #ec2323;
    --border-radius: 10px;
    

    font-size: 18px;   
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    

}
span{
    color: var(--cor-primaria-escura);
}
body{
    background: var(--cor-secundaria-clara);
    background-size: cover;
}
nav{
    height: 5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-secundaria-escura);
    background-size:auto;
}
.title h1{
    color: var(--cor-primaria);
    font-size: 50px;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: var(--cor-primaria);
    background: var(--cor-secundaria-escura);
    font-size: 30px;
    font-weight: bold;
    margin-right: 3rem;
    border: 0px solid transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}
nav a:hover{
    transition: color 0.2s, background 0.2s;
    color: var(--cor-secundaria-escura);
    background: var(--cor-secundaria-clara);
    
}
nav h2{
    color: var(--cor-primaria);
    font-size: 30px;
    cursor: pointer;
    margin-left: 3rem;
}
nav h2:hover{
    color: var(--cor-primaria-escura);
    transition: color 0.3s;
}
main{
    height: 540px;
}
.box{
    display: flex;
    justify-content: center;
    width: auto;
}
.box1{
    margin-top: 1rem;
}
.card{
    height: 9rem;
    width: 20rem;
    background: var(--cor-primaria);
    border: 0px solid;
    border-radius: var(--border-radius);
    margin:3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card a{
    text-decoration: none;
    color: var(--cor-secundaria-clara);
    padding: 10rem;
}
.card a:hover{
    color: var(--cor-secundaria);
    background: var(--cor-primaria-escura);
    transition: background 0.3s, color 0.3s;
}
.box2{
    margin-bottom: 7.8%;
}
.end{
    background:var(--cor-secundaria-escura);
    color: var(--cor-secundaria-clara);
    text-align: center;
}
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.popup:target{
    visibility: visible;
    opacity: 1;
}
.wrapper{
    margin: 7% auto;
    width: 40%;
    position: relative;
    background: var(--cor-primaria);
    border-radius: var(--border-radius);
    transition: visibility 0.2s ease-in-out;
}
.wrapper h2{
    padding: 1rem 0 0 1rem;
    text-align: center;
    color: var(--cor-secundaria-clara);
}
.wrapper .close{
    position: absolute;
    top: 0rem;
    right: 1rem;
    transition: all 0.2S;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-secundaria-clara);
    font-size: 25px;
}
.wrapper .close:hover{
    color: var(--cor-secundaria-escura);
}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}
.container{
    border-radius: var(--border-radius);
    background: #d6d6d6;
    padding: 2rem 3rem;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: vertical;
}
input[type=submit]{
    background: var(--cor-primaria-escura);
    color: var(--cor-secundaria);
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin: auto;
}
input[type=submit]:hover{
    background: var(--cor-primaria);
    color: var(--cor-secundaria-clara);
    transition: background 0.3s, color 0.3s;
}
input[type=submit]:active{
    transform: scale(.95);
}
input[type=button]{
    background: var(--cor-secundaria);
    color: var(--cor-primaria-escura);
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin: auto;
}
input[type=button]:hover{
    background: var(--cor-error);
    color: var(--cor-secundaria-escura);
    transition: background 0.3s, color 0.3s;
}

.usado{
    height: 9rem;
    width: 20rem;
    background: var(--cor-secundaria);
    border: 0px solid;
    border-radius: var(--border-radius);
    margin:3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.aba_usado{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.aba_usado:target{
    visibility: visible;
    opacity: 1;
}
.wrapper2{
    margin: 10rem auto;
    width: 30%;
    position: relative;
    background: var(--cor-primaria);
    border-radius: var(--border-radius);
    transition: visibility 0.2s ease-in-out;
}
.wrapper2 h2{
    padding: 1rem 0 0 1rem;
    text-align: center;
    color: var(--cor-secundaria-clara);
}
.wrapper2 h3{
    text-align: center;
}
.wrapper2 .close{
    position: absolute;
    top: 0rem;
    right: 1rem;
    transition: all 0.2S;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-secundaria-clara);
    font-size: 25px;
}
.wrapper2 .close:hover{
    color: var(--cor-secundaria-escura);
}
.wrapper2 .content{
    max-height: 30%;
    overflow: auto;
}
form .btn{
    margin-left: 19rem;
    font-size: 18px;
    padding: 0.4rem 1rem;
    background: var(--cor-primaria);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
form .btn:hover{
    background: var(--cor-primaria-escura);
    transition: background 0.2s;
}
form .btn:active{
    transform: scale(0.90);
}
